<!DOCTYPE HTML>
<html ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vexata Mangibility</title>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap/bootstrap-theme.css" rel="stylesheet">
        <link rel="stylesheet" href="css/kendo/kendo.blueopal.min.css" type="text/css">
        <link rel="stylesheet" href="css/kendo/kendo.common.min.css" type="text/css">
        <link rel="stylesheet" href="css/kendo/kendo.rtl.min.css" type="text/css">
        <link rel="stylesheet" href="css/kendo/kendo.default.min.css" type="text/css">
        <link rel="stylesheet" href="css/kendo/kendo.dataviz.min.css" type="text/css">
        <link rel="stylesheet" href="css/kendo/kendo.dataviz.default.min.css" type="text/css">
        
        
        <link href="css/vexata/bott-theme.css" rel="stylesheet">
        <link href="css/vexata/vexataTheme.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top removeMargin" ng-controller="index">
            <div class="navbar-header">
                <a ui-sref="dashboard" href="/dashboard"><img width="100px" height="50px" alt="Logo" src="images/vexatalogo.png"></a>
                <ul class="side-menu nav navbar-top-links navbar-right pull-right">
					<li class="dropdown">
						<a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle"> <i class="fa fa-bell fa-fw"></i> </a>
						<div class="noti_bubble">
							{{ criticalData.length }}
						</div>
						<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header">
								<i class="ace-icon fa fa-bell"></i>
								{{criticalData.length}} Notifications
							</li>
							<li ng-repeat="event in criticalData">
								<a href="#">
								<div>
									<strong>{{event.entities}}</strong>
									<span class="pull-right text-muted"> <small><i>{{event.occuredat}}</i></small> </span>
								</div>
								<div>
									<small>{{event.description}}</small>
								</div> </a>
								<div class="divider"></div>
							</li>
							<li class="dropdown-footer">
								<a href="#"> See all notifications <i class="ace-icon fa fa-arrow-right"></i> </a>
							</li>
						</ul>
						<!-- /.dropdown-messages -->
					</li>
					<!-- /.dropdown -->
					<li class="dropdown">
						<a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle"> <i class="fa  fa-exclamation-triangle fa-fw"></i> </a>
						<div class="noti_bubble">
							{{warningData.length}}
						</div>
						<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header">
								<i class="ace-icon fa fa-bell"></i>
								{{warningData.length}} Notifications
							</li>
							<li ng-repeat="event in warningData">
								<a href="#">
								<div>
									<strong>{{event.entities}}</strong>
									<span class="pull-right text-muted"> <small><i>{{event.occuredat}}</i></small> </span>
								</div>
								<div>
									<small>{{event.description}}</small>
								</div> </a>
								<div class="divider"></div>
							</li>
						</ul>
						<!-- /.dropdown-tasks -->
					</li>
					<!-- /.dropdown -->
					<li class="dropdown">
						<a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle"> <i class="fa fa-info-circle fa-fw"></i> </a>
						<div class="noti_bubble">
							{{warningData.length}}
						</div>
						<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
							<li class="dropdown-header">
								<i class="ace-icon fa fa-bell"></i>
								{{warningData.length}} Notifications
							</li>
							<li ng-repeat="event in warningData">
								<a href="#">
								<div>
									<strong>{{event.entities}}</strong>
									<span class="pull-right text-muted"> <small><i>{{event.occuredat}}</i></small> </span>
								</div>
								<div>
									<small>{{event.description}}</small>
								</div> </a>
								<div class="divider"></div>
							</li>
						</ul>
						<!-- /.dropdown-alerts <li class="divider"></li>  -->
					</li>
					<!-- /.dropdown -->
					<li class="dropdown">
						<a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle"> <i class="fa fa-cog fa-fw"></i> </a>
						<ul class="dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close dropdown-messages">
							<li>
								<a href="swagger-ui/index.html" target="_blank"> <i class="fa fa-book fa-fw"></i>&nbsp; Rest API-Explorer </a>
							</li>
						</ul>
					</li>
					<!-- /.dropdown -->
					<li class="light-blue">
						<a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"> <img alt="Photo" src="./images/user.png" class="nav-user-photo" height="32px" width="32px"> <span class="user-info"> Admin </span> <i class="ace-icon fa fa-caret-down"></i> </a>
		
						<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="#"> <i class="ace-icon fa fa-cog"></i> Settings </a>
							</li>
		
							<li>
								<a href="profile.html"> <i class="ace-icon fa fa-user"></i> Profile </a>
							</li>
		
							<li class="divider"></li>
		
							<li>
								<a href="#login" ng-click="logout()"> <i class="ace-icon fa fa-power-off"></i> Logout </a>
							</li>
						</ul>
					</li>
					<!-- /.dropdown -->
				</ul>
            </div>
            <!-- <ul class="side-menu nav navbar-top-links navbar-right">
                <li class="light-blue">
                    <a data-toggle="dropdown" href="javascript:void(0)" class="dropdown-toggle"><img width="32px" height="32px" class="nav-user-photo" src="images/user.png" alt="Jason's Photo"><span class="user-info">Admin</span><i class="ace-icon fa fa-caret-down"></i></a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#"><i class="ace-icon fa fa-cog"></i>Settings</a>
                        </li>
                        <li>
                            <a href="profile.html"><i class="ace-icon fa fa-user"></i>Profile</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a ng-click="user.logout()" href="#login"><i class="ace-icon fa fa-power-off"></i>Logout</a>
                        </li>
                    </ul>
                </li>
            </ul> -->
        </nav>
        <div class="subnavbar">
            <div class="subnavbar-inner">
                <div class="container">
                    <ul class="mainnav">
                        <li class="active">
                            <a ui-sref="dashboard"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                        </li>
                        <li>
                            <a ui-sref="dashboard"><i class="fa fa-cog"></i><span>Logical Assets</span></a>
                        </li>
                        <li>
                            <a ui-sref="dashboard"><i class="fa fa-database"></i><span>Volumes & Hosts</span></a>
                        </li>
                        <li>
                            <a ui-sref="dashboard"><i class="fa fa-line-chart"></i><span>System Performance</span></a>
                        </li>
                        <li>
                            <a ui-sref="dashboard"><i class="fa fa-wrench"></i><span>Events</span></a>
                        </li>
                        <!-- <li class="dropdown subnavbar-open-right">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;"><i class="fa fa-cog"></i><span>Drops</span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="icons.html">Icons</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ</a>
                                </li>
                                <li class="subnavbar-open-right">
                                    <a href="pricing.html">Pricing Plans</a>
                                </li>
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="signup.html">Signup</a>
                                </li>
                                <li class="subnavbar-open-right">
                                    <a href="error.html">404</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
                <!-- /container -->
            </div>
            <!-- /subnavbar-inner -->
        </div>
        <div class="container-fluid">
            <div ui-view>
            </div>
        </div>
        <!-- jQuery Version 1.9.1 min -->
        <script src="js/Plugins/jquery/jquery.min.js" type="text/javascript">
        </script>
        <script src="js/Plugins/angularjs/angular.min.js" type="text/javascript">
        </script>
        <script src="js/Plugins/angularjs/angular-ui-router.js" type="text/javascript">
        </script>
        <!-- Kendo Plugin JavaScript -->
        <script src="js/Plugins/kendo/kendo.all.min.js" type="text/javascript">
        </script>
        
        <script src="js/Plugins/kendo/kendo.jsZip.js" type="text/javascript">
        </script>
        <!-- Vexata Libraries -->
        <script src="js/Vexata/config.js" type="text/javascript">
        </script>
        <script src="js/Vexata/app.js" type="text/javascript">
        </script>
        <script src="js/Vexata/controllers.js" type="text/javascript">
        </script>
        <script src="js/Vexata/route.js" type="text/javascript">
        </script>
        <script src="js/Plugins/bootstrap/bootstrap.min.js" type="text/javascript">
        </script>
    </body>
</html>
