<div class="col-lg-12">
	<div class="row">
		<div class="col-lg-4">
			<div class="row">
				<div class="panel">
					<div class="panel-body boxShadow removePadding">
						<div class="systemStatus">
							<div class="sideBox systemRunningStatus">
								<i class="fa fa-thumbs-o-up fa-5x"></i>
							</div>
							<div class="boxContent">
								<p>
									NODE IS UP AND RUNNING
								</p>
								<p>
									<i>System is up for 128 days, 15 hours and 5 minutes</i>
								</p>
								<p>
									Full Capacity License is activated <i class="fa fa-check"></i>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 removePadding">
					<div class="boxShadow">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-pie-chart"></i>
								CAPACITY
								<span class="pull-right capacityInfo">
									<label> 25% </label> Full 
								</span>
								<span class="pull-right" style="margin-right: 10px">
									<a href="#capView" data-parent="#accordion" data-toggle="collapse" class="collapsed" aria-expanded="false"><i class="fa fa-caret-up"></i></a>
								</span>
							</div>
							<div id="capView" class="collapse in">
								<div class="panel-body removePadding">
									<!--<div id="chart-capacity" style="height: 180px;"></div>-->
									<div class="capacityHeading">
										<span>ARRAY CAPACITY</span>
										<label class="pull-right"> 130 TB Provisioned </label>
									</div>
									<div class="capacityStorage">
										<div class="progress">
											<div class="progress-bar progress-bar-used" role="progressbar" style="width:25%">
												50.6 TB Used
											</div>
										</div>
									</div>
								</div>
								<div class="panel-body removePadding">
									<table class="table table-striped removeMargin capacityTable">
										<tr>
											<td> Expected 90% storage Used </td>
											<td class="hwSum"><label style="color: #F6921E"> 12-Apr-2015 </label></td>
										</tr>
										<tr>
											<td> Expected 100% storage Used </td>
											<td class="hwSum"><label style="color: #BE1E2D"> 22-Apr-2015 </label></td>
										</tr>
										<tr>
											<td> Storage Savings </td>
											<td class="hwSum"> {{storageInfo.savings}}% </td>
										</tr>
										<tr>
											<td> Provisioned Capacity </td>
											<td class="hwSum"> {{storageInfo.provisionedCapacity}}TB </td>
										</tr>
										<tr>
											<td> Capacity </td>
											<td class="hwSum"> {{storageInfo.capacity}}TB </td>
										</tr>
									</table>
									<span desc="{{storageInfo.snapshotsPresent}}"></span>
									<span desc="{{storageInfo.volumesConfigured}}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel">
					<div class="panel-body boxShadow removePadding">
						<div class="systemStatus">
							<div class="sideBox">
								<i class="fa fa-database fa-5x"></i>
							</div>
							<div class="boxContent volumeGroups">
								<p>
									5 Volume Groups
								</p>
								<p>
									<i>With 20 volumes</i>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel-group" id="accordionToggle">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-cog"></i>
								IOPS - <span>{{iopsMetricsData}}</span> <label>Units/s</label> 
								<div class="pull-right">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionToggle" href="#collapseOne"><i class="fa fa-caret-up"></i> </a>
								</div>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="gauge-container">
										<span kendo-radialgauge="iopsRG"
										k-scale='{
										minorUnit: 500,
										startAngle: -30,
										endAngle: 210,
										max: 10000,
										labels: {
										position: "inside",
										font: "10px Arial,Helvetica,sans-serif"
										},
										ranges: [
										{
										from: 0,
										to: 3500,
										color: "#BE1E2D"
										},
										{
										from: 3500,
										to: 5000,
										color: "#F5A941"
										},
										{
										from: 5000,
										to: 10000,
										color: "#6FC57D"
										}]
										}'
										ng-model="selectedNumber"
										k-pointer="iopsPointers"
										k-rebind="iopsPointers"
										></span>
										<div class="col-lg-5 multipointerLegend removePadding">
											<div class="row">
												<div class="col-lg-1 removePadding">
													<div class="legend legendOne"></div>
													<div class="legend legendTwo"></div>
													<div class="legend legendThree"></div>
												</div>
												<div class="col-lg-11 removePadding">
													<div class="iopsMetricsData text-left">
														{{iopsMetricsData}} Units/s
													</div>
													<div class="iopsMetricsData text-left">
														7500 Units/s in Last 1 hour
													</div>
													<div class="iopsMetricsData text-left">
														6000 Units/s in Last 1 day
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-cog"></i>
								Bandwidth - <span>{{bandwidthData}}</span> <label>MB/s</label>  
								<div class="pull-right">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionToggle" href="#collapseTwo"> <i class="fa fa-caret-down"></i> </a>
								</div>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="gauge-container">
										<span kendo-radialgauge="bandwidthRG"
										k-scale='{
										minorUnit: 5,
										startAngle: -30,
										endAngle: 210,
										max: 180,
										labels: {
										position: "inside",
										font: "10px Arial,Helvetica,sans-serif"
										},
										ranges: [
										{
										from: 0,
										to: 80,
										color: "#BE1E2D"
										},
										{
										from: 80,
										to: 100,
										color: "#F5A941"
										},
										{
										from: 100,
										to: 180,
										color: "#6FC57D"
										}]
										}'
										k-pointer="banPointers"
										k-rebind="banPointers"
										></span>
										<div class="col-lg-5 multipointerLegend removePadding">
											<div class="row">
												<div class="col-lg-1 removePadding">
													<div class="legend legendOne"></div>
													<div class="legend legendTwo"></div>
													<div class="legend legendThree"></div>
												</div>
												<div class="col-lg-11 removePadding">
													<div class="iopsMetricsData text-left">
														{{bandwidthData}} MB/s
													</div>
													<div class="iopsMetricsData text-left">
														140 MB/s in Last 1 hour
													</div>
													<div class="iopsMetricsData text-left">
														120 MB/s in Last 1 day
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="fa fa-cog"></i>
								Latency - <span>{{latencyData}}</span> <label>MS/s</label>  
								<div class="pull-right">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionToggle" href="#collapseThree"> <i class="fa fa-caret-down"></i> </a>
								</div>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="gauge-container">
										<span kendo-radialgauge="latencyRG"
										k-scale='{
										minorUnit: 200,
										startAngle: -30,
										endAngle: 210,
										max: 2000,
										labels: {
										position: "inside",
										font: "10px Arial,Helvetica,sans-serif"
										},
										ranges: [
										{
										from: 0,
										to: 800,
										color: "#BE1E2D"
										},
										{
										from: 800,
										to: 1100,
										color: "#F5A941"
										},
										{
										from: 1100,
										to: 2000,
										color: "#6FC57D"
										}]
										}'
										k-pointer="latPointers"
										k-rebind="latPointers"
										></span>
										<div class="col-lg-5 multipointerLegend removePadding">
											<div class="row">
												<div class="col-lg-1 removePadding">
													<div class="legend legendOne"></div>
													<div class="legend legendTwo"></div>
													<div class="legend legendThree"></div>
												</div>
												<div class="col-lg-11 removePadding">
													<div class="iopsMetricsData text-left">
														{{latencyData}} MS/s
													</div>
													<div class="iopsMetricsData text-left">
														1500 MS/s in Last 1 hour
													</div>
													<div class="iopsMetricsData text-left">
														1000 MS/s in Last 1 day
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div
			</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel">
						<div class="panel-body boxShadow removePadding">
							<div class="systemStatus">
								<div class="sideBox initiatorsInfo">
									<i class="fa fa-upload fa-5x"></i>
								</div>
								<div class="boxContent volumeGroups">
									<p>
										4 Target Groups
									</p>
									<p>
										<i>3 target ports free</i>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
		<!-- <div class="row">
		<div class="boxShadow">
		<div class="panel panel-body removePadding">
		<div class="notification">
		<div class="notify-panel">
		53 EVENTS DURING LAST 3 DAYS
		</div>
		<div class="text-center">
		<div class="box">
		<span><i class="fa fa-info-circle" style="color: rgb(72,162,243)"></i></span>
		<span>52</span>
		</div>
		<div class="box">
		<span><i class="fa fa-warning" style="color: #f6921e"></i></span>
		<span>0</span>
		</div>
		<div class="box">
		<span><i class="fa fa-times-circle" style="color: rgb(209, 91, 71)"></i></span>
		<span>1</span>
		</div>
		<div class="box">
		<span><i class="fa fa-thumbs-down" style="color: rgb(183,180,80)"></i></span>
		<span>0</span>
		</div>
		</div>
		</div>
		</div>
		</div>
		</div> -->
		<div class="row">
			<div class="boxShadow">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-cog"></i>
						PHYSICAL VIEW
						<div class="pull-right">
							<a data-toggle="collapse" data-parent="#accordion" href="#chassisView"> <i class="fa fa-caret-up"></i> </a>
						</div>
					</div>
					<div id="chassisView" class="panel-body removePadding collapse in">
						<div class="col-lg-12 removePadding">
							<div class="ChassiSvgContainer" >
								<!-- Main Chassis View -->
								<object type="image/svg+xml" data="./images/chassis/Chassis.svg" class="ChassiSvg"></object>
	
								<!-- Power Status -->
								<object type="image/svg+xml" ng-repeat="power in powerStatus" data="./images/chassis/power/Chassis_switch_{{$index+1}}{{ powerStatus[$index+1] }}.svg" class="ChassiSvg"></object>
	
								<!-- Fan Status  -->
								<object ng-repeat="status in fanStatus" type="image/svg+xml" data="./images/chassis/fan/fan_{{$index + 1}}_{{ fanStatus[$index+1] }}.svg" class="ChassiSvg"></object>
	
								<!-- ESM Status  -->
								<object ng-repeat="esm in esmStatus" type="image/svg+xml" data="./images/chassis/esm/esm{{$index}}_{{ esmStatus[$index+1] }}.svg" class="ChassiSvg"></object>
	
								<!-- HBA Status  -->
								<object ng-repeat="hba in hbaStatus" type="image/svg+xml" data="./images/chassis/hba/hba_{{$index + 1}}_{{ fanStatus[$index+1] }}.svg" class="ChassiSvg"></object>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
				<div class="panel">
					<div class="panel-body boxShadow removePadding">
						<div class="systemStatus">
							<div class="sideBox exportGroups">
								<i class="fa fa-support fa-5x"></i>
							</div>
							<div class="boxContent volumeGroups">
								<p>
									5 Export Groups
								</p>
								<p>
									<i>Need info</i>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
		</div>
</div>