
.dropdown .dropdown-menu {
    border-radius: 6px;
}
.btn-icon-only {
    padding-left: 3px;
    padding-right: 3px;
}
.table td {
    vertical-align: middle;
}
.table-bordered th {
    background: -moz-linear-gradient(center top , #fafafa 0%, #e9e9e9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #444;
    font-size: 10px;
    text-transform: uppercase;
}
.navbar .container {
    position: relative;
}
.navbar-inner {
    background: none repeat scroll 0 0 #00ba8b !important;
    border-radius: 0;
    padding: 7px 0;
}
.navbar-fixed-top {
    /*position: static;*/
}
.navbar .nav a {
    font-size: 11px;
}
.navbar .nav > li > a {
    color: #000 !important;
}
.navbar .brand {
    font-weight: 600;
    position: relative;
    top: 2px;
}
.navbar .search-query {
    background-color: #444;
    font-size: 11px;
    font-weight: bold;
    width: 150px;
}
.navbar .search-query:-moz-placeholder {
    color: #666;
}
.navbar-search .search-query {
    background: none repeat scroll 0 0 #008866;
    border: 0 none;
    color: #fff;
    line-height: normal;
}
.subnavbar {
    margin-bottom: 15px;
	margin-top: 5px;
}
.subnavbar-inner {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #d6d6d6;
    height: 60px;
}
.subnavbar .container > ul {
    display: inline-block;
    height: 80px;
    margin: 0;
    padding: 0;
}
.subnavbar .container > ul > li {
    border-left: 1px solid #d9d9d9;
    float: left;
    height: 60px;
    list-style: outside none none;
    margin: 0;
    min-width: 90px;
    padding: 0;
    text-align: center;
}
.subnavbar .container > ul > li > a {
    color: #b2afaa;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    padding: 0 15px;
}
.subnavbar .container > ul > li > a:hover {
    color: #888;
    text-decoration: none;
}
.subnavbar .container > ul > li > a > i {
    display: inline-block;
    font-size: 20px;
    height: 24px;
    margin-bottom: -3px;
    margin-top: 11px;
    width: 24px;
}
.subnavbar .container > ul > li > a > span {
    display: block;
}
.subnavbar .container > ul > li.active > a {
    border-bottom: 3px solid #ff7f74;
    color: #383838;
}
.subnavbar .dropdown .dropdown-menu a {
    font-size: 12px;
}
.subnavbar .dropdown .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: left;
}
.subnavbar .dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.subnavbar .dropdown-menu:after {
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
.subnavbar .caret {
    border-bottom-color: white;
    border-top-color: white;
    margin-top: 4px;
}
.subnavbar .dropdown.open .caret {
    display: none;
}
.main {
    border-bottom: 1px solid #000;
    padding-bottom: 2em;
}
.extra {
    border-bottom: 1px solid #000;
    border-top: 1px solid #585858;
}
.extra-inner {
    background: none repeat scroll 0 0 #1a1a1a;
    color: #bbb;
    font-size: 11px;
    padding: 20px 0;
}
.extra a {
    color: #666;
}
.extra h4 {
    font-weight: 400;
    margin-bottom: 1em;
}
.extra ul {
    margin: 0;
    padding: 0;
}
.extra li {
    list-style: outside none none;
    margin-bottom: 0.6em;
}
.footer {
    border-top: 1px solid #292929;
    margin-top: 0;
}
.footer-inner {
    background: none repeat scroll 0 0 #111;
    color: #999;
    font-size: 12px;
    padding: 15px 0;
}
.footer a {
    color: #999;
}
.footer a:hover {
    color: #fff;
    text-decoration: none;
}
.widget {
    clear: both;
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;
    width: auto;
}
.widget-header {
    background: -moz-linear-gradient(center top , #f9f6f1 0%, #f2efea 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #d6d6d6;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.widget-header h3 {
    color: #525252;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    left: 10px;
    line-height: 18px;
    margin-right: 3em;
    position: relative;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    top: 2px;
}
.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
    color: #555;
    display: inline-block;
    font-size: 16px;
    margin-left: 13px;
    margin-right: -2px;
    vertical-align: middle;
}
.widget-content {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 20px 15px 15px;
}
.widget-header + .widget-content {
    border-top: medium none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.widget-nopad .widget-content {
    padding: 0;
}
.widget-content:before, .widget-content:after {
    content: "";
    display: table;
}
.widget-content:after {
    clear: both;
}
.widget-content {
}
.widget-table .widget-content {
    padding: 0;
}
.widget-table .table {
    border: medium none;
    margin-bottom: 0;
}
.widget-table .table tr td:first-child {
    border-left: medium none;
}
.widget-table .table tr th:first-child {
    border-left: medium none;
}
.widget-plain {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.widget-plain .widget-content {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
.widget-box {
}
.widget-box .widget-content {
    background: none repeat scroll 0 0 #fff;
}
.error-container {
    margin-bottom: 4em;
    margin-top: 4em;
    text-align: center;
}
.error-container h1 {
    font-size: 120px;
    line-height: 1em;
    margin-bottom: 0.5em;
}
.error-container h2 {
    font-size: 28px;
    margin-bottom: 0.75em;
}
.error-container .error-details {
    font-size: 16px;
    margin-bottom: 1.5em;
}
.error-container .error-actions a {
    margin: 0 0.5em;
}
ul.messages_layout {
    margin: 0;
    padding: 0;
    position: relative;
}
ul.messages_layout li {
    float: left;
    list-style: outside none none;
    position: relative;
}
ul.messages_layout li.left {
    padding-left: 75px;
}
ul.messages_layout li.right {
    padding-right: 75px;
}
ul.messages_layout li.right .avatar {
    left: auto;
    right: 0;
}
ul.messages_layout li.right .message_wrap .arrow {
    background-position: 0 -213px;
    height: 15px;
    left: auto;
    right: -12px;
    width: 12px;
}
ul.messages_layout li.by_myself .message_wrap {
    border: 1px solid #b3cdf8;
}
ul.messages_layout li.by_myself .message_wrap .info a.name {
    color: #4a8cf7;
}
ul.messages_layout li a.avatar {
    left: 0;
    position: absolute;
    top: 0;
}
ul.messages_layout li a.avatar img {
    border-radius: 5px;
}
ul.messages_layout li .message_wrap {
    background: none repeat scroll 0 0 #fefefe;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    float: left;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}
ul.messages_layout li .message_wrap .arrow {
    background-position: 0 -228px;
    height: 15px;
    left: -12px;
    position: absolute;
    top: 13px;
    width: 12px;
}
ul.messages_layout li .message_wrap .info {
    border-bottom: 1px solid #fff;
    float: left;
    line-height: 23px;
    width: 100%;
}
ul.messages_layout li .message_wrap .info .name {
    color: #483734;
    float: left;
    font-weight: bold;
}
ul.messages_layout li .message_wrap .info .time {
    float: left;
    font-size: 11px;
    margin-left: 6px;
}
ul.messages_layout li .message_wrap .text {
    border-top: 1px solid #cfcfcf;
    float: left;
    padding-top: 5px;
    width: 100%;
}
ul.messages_layout .dropdown-menu li {
    font-size: 11px;
    width: 100%;
}
.fc {
    direction: ltr;
    position: relative;
    text-align: left;
}
.fc table {
    border-collapse: collapse;
    border-spacing: 0;
}
html .fc, .fc table {
    font-size: 1em;
}
.fc td, .fc th {
    padding: 0;
    vertical-align: top;
}
.fc-header td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    white-space: nowrap;
}
.fc-header-left {
    left: 0;
    position: absolute;
    text-align: left;
    top: 6px;
    width: 100%;
}
.fc-header-left .fc-button {
    margin: 0;
    position: relative;
}
.fc-header-left .fc-button-prev, .fc-header-left .fc-button-next {
    border: medium none;
    float: left;
    opacity: 0.5;
    padding: 14px 10px;
}
.fc-header-left .fc-button-prev .fc-button-inner, .fc-header-left .fc-button-next .fc-button-inner {
    border: medium none;
}
.fc-header-left .fc-button-prev .fc-button-inner .fc-button-content, .fc-header-left .fc-button-next .fc-button-inner .fc-button-content {
    display: none;
}
.fc-header-left .fc-button-prev.fc-state-hover, .fc-header-left .fc-button-next.fc-state-hover {
    opacity: 1;
}
.fc-header-left .fc-button-prev.fc-state-down, .fc-header-left .fc-button-next.fc-state-down {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    margin-top: -1px;
}
.fc-header-left .fc-button-prev .fc-button-inner {
    background-position: 0 -351px;
    height: 16px;
    width: 11px;
}
.fc-header-left .fc-button-next {
    float: right;
}
.fc-header-left .fc-button-next .fc-button-inner {
    background-position: 0 -367px;
    height: 16px;
    width: 11px;
}
.fc-header-center {
    text-align: center;
}
.fc-header-right {
    position: absolute;
    right: 10px;
    text-align: right;
    top: -34px;
}
.fc-header-title {
    display: inline-block;
    vertical-align: top;
}
.fc-header-title h2 {
    color: #6c737f;
    font-size: 1.1rem;
    line-height: 55px;
    margin-top: 0;
    white-space: nowrap;
}
.fc .fc-header-space {
    padding-left: 10px;
}
.fc-header .fc-button {
    margin-bottom: 1em;
    vertical-align: top;
}
.fc-header .fc-button {
    margin-right: -1px;
}
.fc-header .fc-corner-right {
    margin-right: 1px;
}
.fc-header .ui-corner-right {
    margin-right: 0;
}
.fc-header .fc-state-hover, .fc-header .ui-state-hover {
    z-index: 2;
}
.fc-header .fc-state-down {
    z-index: 3;
}
.fc-header .fc-state-active, .fc-header .ui-state-active {
    z-index: 4;
}
.fc-content {
    background: none repeat scroll 0 0 #f9f9f9;
    clear: both;
}
.fc-view {
    overflow: hidden;
    width: 100%;
}
.fc-view thead {
    background: none repeat scroll 0 0 #e9ecf1;
    line-height: 35px;
}
.fc-widget-header, .fc-widget-content {
    border: 1px solid #ccc;
}
.fc-state-highlight {
    background: none repeat scroll 0 0 #f4f3e6;
}
.fc-cell-overlay {
    background: none repeat scroll 0 0 #9cf;
    opacity: 0.2;
}
.fc-button {
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.fc-button-today {
    margin-top: 8px !important;
}
.fc-state-default {
    border-style: solid;
    border-width: 1px 0;
}
.fc-button-inner {
    float: left;
    overflow: hidden;
    position: relative;
}
.fc-state-default .fc-button-inner {
    border-style: solid;
    border-width: 0 1px;
}
.fc-button-content {
    float: left;
    height: 1.9em;
    line-height: 1.9em;
    padding: 0 0.6em;
    position: relative;
    white-space: nowrap;
}
.fc-button-content .fc-icon-wrap {
    float: left;
    position: relative;
    top: 50%;
}
.fc-button-content .ui-icon {
    float: left;
    margin-top: -50%;
    position: relative;
}
.fc-state-default .fc-button-effect {
    left: 0;
    position: absolute;
    top: 50%;
}
.fc-state-default .fc-button-effect span {
    background: none repeat scroll 0 0 #444;
    border-color: #fff;
    border-style: solid;
    border-width: 100px 0 0 1px;
    height: 100px;
    left: 0;
    opacity: 0.09;
    position: absolute;
    top: -100px;
    width: 500px;
}
.fc-state-default, .fc-state-default .fc-button-inner {
    border-color: #ccc #bbb #aaa;
    border-style: solid;
    color: #000;
}
.fc-state-hover, .fc-state-hover .fc-button-inner {
    border-color: #999;
}
.fc-state-down {
    background: none repeat scroll 0 0 #777;
    border-color: #555;
}
.fc-state-active, .fc-state-active .fc-button-inner {
    background: none repeat scroll 0 0 #777;
    border-color: #555;
    color: #fff;
}
.fc-state-disabled, .fc-state-disabled .fc-button-inner {
    border-color: #ddd;
    color: #999;
}
.fc-state-disabled {
    cursor: default;
}
.fc-state-disabled .fc-button-effect {
    display: none;
}
.fc-event {
    border-style: solid;
    border-width: 0;
    cursor: default;
    font-size: 0.85em;
}
a.fc-event, .fc-event-draggable {
    cursor: pointer;
}
a.fc-event {
    text-decoration: none;
}
.fc-rtl .fc-event {
    text-align: right;
}
.fc-event-skin {
    background-color: #5e96ea;
    border-color: #3f85f5;
    color: #fff;
}
.fc-event-inner {
    border-style: solid;
    border-width: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.fc-event-time, .fc-event-title {
    padding: 0 1px;
}
.fc .ui-resizable-handle {
    display: block;
    font-size: 300%;
    line-height: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 99999;
}
.fc-event-hori {
    border-width: 1px 0;
    margin-bottom: 1px;
}
.fc-event-hori .ui-resizable-e {
    cursor: e-resize;
    height: 100% !important;
    right: -3px !important;
    top: 0 !important;
    width: 7px !important;
}
.fc-event-hori .ui-resizable-w {
    cursor: w-resize;
    height: 100% !important;
    left: -3px !important;
    top: 0 !important;
    width: 7px !important;
}
.fc-event-hori .ui-resizable-handle {
}
.fc-corner-left {
    margin-left: 1px;
}
.fc-corner-left .fc-button-inner, .fc-corner-left .fc-event-inner {
    margin-left: -1px;
}
.fc-corner-right {
    margin-right: 1px;
}
.fc-corner-right .fc-button-inner, .fc-corner-right .fc-event-inner {
    margin-right: -1px;
}
.fc-corner-top {
    margin-top: 1px;
}
.fc-corner-top .fc-event-inner {
    margin-top: -1px;
}
.fc-corner-bottom {
    margin-bottom: 1px;
}
.fc-corner-bottom .fc-event-inner {
    margin-bottom: -1px;
}
.fc-corner-left .fc-event-inner {
    border-left-width: 1px;
}
.fc-corner-right .fc-event-inner {
    border-right-width: 1px;
}
.fc-corner-top .fc-event-inner {
    border-top-width: 1px;
}
.fc-corner-bottom .fc-event-inner {
    border-bottom-width: 1px;
}
table.fc-border-separate {
    border-collapse: separate;
}
.fc-border-separate th, .fc-border-separate td {
    border-width: 1px 0 0 1px;
}
.fc-border-separate th.fc-last, .fc-border-separate td.fc-last {
    border-right-width: 1px;
}
.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td {
    border-bottom-width: 0;
}
.fc-first {
    border-left-width: 0 !important;
}
.fc-last {
    border-right-width: 0 !important;
}
.fc-grid th {
    text-align: center;
}
.fc-grid .fc-day-number {
    float: right;
    padding: 0 2px;
}
.fc-grid .fc-other-month .fc-day-number {
    opacity: 0.3;
}
.fc-grid .fc-day-content {
    clear: both;
    padding: 2px 2px 1px;
}
.fc-grid .fc-event-time {
    font-weight: bold;
}
.fc-rtl .fc-grid .fc-day-number {
    float: left;
}
.fc-rtl .fc-grid .fc-event-time {
    float: right;
}
.fc-agenda table {
    border-collapse: separate;
}
.fc-agenda-days th {
    text-align: center;
}
.fc-agenda .fc-agenda-axis {
    font-weight: normal;
    padding: 0 4px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    width: 60px !important;
}
.fc-agenda .fc-day-content {
    padding: 2px 2px 1px;
}
.fc-agenda-days .fc-agenda-axis {
    border-right-width: 1px;
}
.fc-agenda-days .fc-col0 {
    border-left-width: 0;
}
.fc-agenda-allday th {
    border-width: 0 1px;
}
.fc-agenda-allday .fc-day-content {
    min-height: 34px;
}
.fc-agenda-divider-inner {
    height: 2px;
    overflow: hidden;
}
.fc-widget-header .fc-agenda-divider-inner {
    background: none repeat scroll 0 0 #eee;
}
.fc-agenda-slots th {
    border-width: 1px 1px 0;
}
.fc-agenda-slots td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 1px 0 0;
}
.fc-agenda-slots td div {
    height: 20px;
}
.fc-agenda-slots tr.fc-slot0 th, .fc-agenda-slots tr.fc-slot0 td {
    border-top-width: 0;
}
.fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td {
    border-top-style: dotted;
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
}
.fc-event-vert {
    border-width: 0 1px;
}
.fc-event-vert .fc-event-head, .fc-event-vert .fc-event-content {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
}
.fc-event-vert .fc-event-time {
    font-size: 10px;
    white-space: nowrap;
}
.fc-event-vert .fc-event-bg {
    background: none repeat scroll 0 0 #fff;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.fc .ui-draggable-dragging .fc-event-bg, .fc-select-helper .fc-event-bg {
}
.fc-event-vert .ui-resizable-s {
    bottom: 0 !important;
    cursor: s-resize;
    font-family: monospace;
    font-size: 11px !important;
    height: 8px !important;
    line-height: 8px !important;
    overflow: hidden !important;
    text-align: center;
    width: 100% !important;
}
.fc-agenda .ui-resizable-resizing {
}
.fc-header-left .fc-button-prev .fc-button-inner {
    background: url("../img/icons-sa7c41345d9.png") no-repeat scroll 0 -351px rgba(0, 0, 0, 0);
    height: 16px;
    width: 11px;
}
.fc-header-left .fc-button-next .fc-button-inner {
    background: url("../img/icons-sa7c41345d9.png") no-repeat scroll 0 -367px rgba(0, 0, 0, 0);
    height: 16px;
    width: 11px;
}
.chart-holder {
    height: 250px;
    width: 100%;
}
/*.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background: none repeat scroll 0 0 #00ba8b;
}*/
.accordion-heading {
    background: none repeat scroll 0 0 #e5e5e5;
}
.accordion-heading a {
    color: #545454;
    font-weight: bold;
    text-decoration: none;
}
.btn-facebook-alt i {
    color: #23386a;
}
.btn-twitter-alt i {
    color: #0098d0;
}
.btn-google-alt i {
    color: #b6362d;
}
.btn-linkedin-alt i {
    color: #0073b2;
}
.btn-pinterest-alt i {
    color: #ab171e;
}
.btn-github-alt i {
    color: #333;
}
.all-icons li {
    list-style: outside none none;
}
.ML0 {
    margin-left: 0;
}
.MR0 {
    margin-right: 0;
}
@media (max-width: 480px) {
.error-container h1 {
    font-size: 72px;
}
}
@media (max-width: 767px) {
#main {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 10px;
}
.subnavbar {
    margin-left: -20px;
    margin-right: -20px;
}
.subnavbar-inner {
    height: auto;
}
.subnavbar .container > ul {
    border: medium none;
    height: auto;
    width: 100%;
}
.subnavbar .container > ul > li {
    border: medium none;
    height: 70px;
    margin-bottom: 0;
    width: 33%;
}
.subnavbar .container > ul > li.active > a {
    background: none repeat scroll 0 0 transparent;
    font-size: 11px;
}
.subnavbar .container > ul > li > a > i {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0;
}
.subnavbar-open-right .dropdown-menu {
    left: auto;
    right: 0;
}
.subnavbar-open-right .dropdown-menu:before {
    left: auto;
    right: 12px;
}
.subnavbar-open-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}
.extra {
    margin-left: -20px;
    margin-right: -20px;
}
.extra .container {
    padding: 0 20px;
}
.footer {
    margin-left: -20px;
    margin-right: -20px;
}
.footer .container {
    padding: 0 20px;
}
.footer .footer-terms {
    text-align: left;
}
.footer .footer-terms a {
    margin-left: 0;
    margin-right: 1em;
}
}
@media (max-width: 979px) {
.navbar-fixed-top {
    margin-bottom: 0;
    position: static;
}
.subnavbar {
}
.subnavbar .container {
    width: auto;
}
}
@media (min-width: 1200px) {
	.navbar .search-query {
	    width: 200px;
	}
}
