/*
 * Vexata Theme Css
 */
/* Existing Property */
body {
	font-family: "Calibri" !important;
	font-weight: normal;
	font-size: 13px !important;
	background: #FFF;
	/*background-image: url("../images/bg.jpg");*/
}

a{
	border: none !important;
	outline: none !important;
	text-decoration: none;
	color: #000000;
}
.breadcrumb {
	background: #E6E6E6;
	border-radius: 4px;
	border-width: 0;
	color: #000;
}

.panel-heading {
	padding: 6px !important;
}

.progress {
	height: 30px;
	margin: 0;
	line-height: 30px;
}

.progress-bar {
	font-size: 13px;
	line-height: 28px;
}

.headerColor {
	background-image: linear-gradient(to right, #1a2229 0px, #1a2229 100%) !important;
	font-family: "Source Sans Pro", sans-serif;
}
/* New Property */

/*.nav > li > a:hover{
 background-color: transparent !important;
 }*/

.page-big-header {
	margin: 60px 0 0 0;
}

.removePadding {
	padding: 0;
}

.removeMargin {
	margin: 0;
}

.systemStatus {
	height: 100px;
	width: auto;
	position: relative;
}

.sideBox {
	background-color: #63457D;
	position: relative;
	height: 100px;
	width: 100px;
	padding: 18px;
	color: #FFFFFF;
	float: left;
	margin: 0 10px 0 0;
}

.boxContent {
	padding: 10px;
}

.boxContent p:first-child {
	font-weight: bold;
	font-size: 18px;
	margin: 0;
}

.boxContent p:nth-of-type(2) {

	font-weight: normal;
	font-size: 12px;
	color: #888;
}

.boxContent p:nth-of-type(3) {
	font-weight: normal;
	font-size: 12px;
	color: #088A08;
}
.boxShadow {
	border-radius: 4px;
	box-shadow: 2px 4px 4px 2px #CCC;
}

.colored-heading {
	background-image: linear-gradient(to bottom, #F5F5F5 0%, #F5F5F5 100%) !important;
	background-color: #F5F5F5 !important;
	border-color: #F5F5F5 !important;
}

.colored-border {
	border-color: #FFF !important;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) !important;
}

.capacityStorage {
	padding: 8px;
}

.progress-bar-used {
	background-image: linear-gradient(to bottom, #ABA4D0 0%, #428bca 100%);
	background-repeat: repeat-x;
}

.progress-bar-free {
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 100%);
	background-repeat: repeat-x;
	color: #000;
}

.capacityInfo {
	background-color: #6FC57D;
	border-radius: 2px;
	font-size: 13px;
	height: 30px;
	line-height: 0;
	margin: -6px;
	padding: 15px;
	width: auto;
	color: #FFF;
}

.capacityInfo label {
	font-size: 30px;
	font-weight: bold;
}

.capacityHeading {
	padding: 5px 10px 0 10px;
}

.capacityHeading span {
	color: #888;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 3px #E7E7E7;
}

.capacityHeading label {
	font-weight: normal;
	font-size: 12px;
	color: #888;
	line-height: 30px;
}

.notification {
	background: url("../../images/bgnotification.png");
	height: 100px;
	width: auto;
	border-radius: 5px;
	padding: 5px;
}

.notification .box {
	height: 50px;
	width: 50px;
	display: inline-block;
	background-color: rgb(106,106,106);
	margin: 2%;
	border-radius: 5px;
	color: #FFF;
	text-align: center;
	font-size: 15px;
}

.notification .notify-panel {
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}

.notification .box span:first-child {
	color: #428bca;
	font-size: 20px;
	display: block;
}

#bandwidthGauge {
	width: 200px;
	height: 170px;
	float: left;
}

#latencyGauge {
	width: 200px;
	height: 170px;
	float: left;
}

.nav-user-photo {
	border: 2px solid rgb(255, 255, 255);
	border-radius: 100%;
	margin: -4px 8px 0 0;
	max-width: 40px;
}

.iopsMetrics {
	position: relative;
	font-weight: bolder;
	color: #330000;
	margin: 50px 0 0 10px;
	font-size: 16px;
}

.iopsMetrics span:first-child {
	font-size: 60px;
}

.iopsMetrics span:nth-of-type(2) {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #000;
}

.iopsMetrics label {
	font-size: 16px;
}

.latencyMetrics {
	color: #8181F7;
}

.iopsHeading {
	color: #888;
	font-size: 20px;
	font-weight: bold;
}
.esmStatus {
	background-color: #1a2229;
	height: 50px;
	width: auto;
	margin-bottom: 1px;
}
.port-circle {
	width: 20px;
	height: 20px;
	background: #AADAB0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	color: #000;
	line-height: 20px;
	text-align: center;
	margin-left: 25%;
	font-size: 11px;
	font-weight: normal;
}

.port-circle.WARNING {
	background: #DCC061;
}

.port-circle.CRITICAL {
	background: #F09898;
}
.port-circle.DISABLE {
	background: #D0CCCC;
}

.port-circle.LINK_DOWN {
	background: #F09898;
}

.port-circle.LINK_UP {
	background: #AADAB0;
}

.esmBox {
	background-image: -moz-linear-gradient(right center , #5cb85c 30%, #888 10%);
	border-color: #147b0e #11640b #11640b;
	box-shadow: 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
	color: #fff;
	cursor: pointer;
	font-size: 10px;
	font-weight: bolder;
	height: 10px;
	line-height: 1;
	margin: 0 0 0 15%;
	position: relative;
	text-align: center;
	top: 16px;
	width: 55px;
	display: inline-block;
}

.esmBox.amber {
	background-image: -moz-linear-gradient(right center , #ffc200 30%, #888 10%);
}

.esmBox.red {
	background-image: -moz-linear-gradient(right center , rgb(209, 91, 71) 30%, #888 10%);
}
.esmStatus.logo {
	background-image: url("../../images/feather.png");
	background-repeat: no-repeat;
	background-size: 50px 50px;
	background-position: center;
}

.esmHeading {
	font-size: 15px;
}

.light-blue {
	margin: 5px 30px 0 0;
	font-size: 16px;
}

/* ratio based on images (png) dimensions
 ratio relative / absolute needed with safari (win7) and dolphin browser android 4.2
 with background-size: cover in the SVG (<style>)
 */
.ChassiSvgContainer {
	width: 100%;
	padding-bottom: 100%;
}

.ChassiSvg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.shape-codepen {
	background: url("./images/Chassis_1.svg");
}

.gauge-container {
	background: transparent url("../../images/gauge-container-partial-1.png") no-repeat 50% 50%;
	width: 260px;
	height: 260px;
	text-align: center;
	margin: 28px auto 35px auto;
}

.gauge-container > span {
	display: block;
	width: 220px;
	height: 210px;
	margin: 0 auto;
}

.gauge-container .k-slider {
	margin-top: -15px;
	width: 140px;
}

mark {
	background-color: #BE1E2D;
	color: white;
	font-weight: bold;
}
.card {
	height: 100px;
	display: block;
	border-bottom: 3px solid #428bca;
}

.card span {
	font-size: 65px;
	padding: 0 0 0 30px;
	float: left;
}

.card label:nth-of-type(2) {
	float: left;
	font-size: 19px;
	font-weight: normal;
	margin-top: 6%;
}

.multipointerLegend {
    bottom: 11%;
    left: 33%;
    text-align: center;
}

.legend {
    border-radius: 50%;
    height: 6px;
    margin: 57%;
    width: 6px;
}

.legendOne {
	background: #969799;
}
.legendTwo {
	background: #5878A7;
}
.legendThree {
	background: #484F5A;
}

.iopsMetricsData {
	font-weight: bold;
	font-size: 10px;
	margin-left: 5%;
}

.capacityTable {
	height: 230px;
}

.capacityTable td {
	font-size: 14px;
	line-height: 2 !important;
}

.initiatorsInfo {
	background-color: #F5A941;
}
.systemRunningStatus {
	background-color: #6FC57D;
}

.volumeGroups > p:first-child {
	font-size: 30px;
	font-weight: bold;
	margin: 0;
}

.volumeGroups > p:nth-child(2) {
	color: #000;
	font-size: 14px;
	font-weight: normal;
}

.exportGroups{
	background-color: #BE1E2D;
}

.user-info {
	font-size: 13px;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}
.navbar-top-links li {
	display: inline-block;
}

.navbar-header {
	width: 100%;
}

.dropdown-toggle > .fa {
	font-size: 16px !important;
}

.noti_bubble {
	position: absolute; /* This breaks the div from the normal HTML document. */
	top: 0px;
	right: 10px;
	padding: 1px 5px;
	background-color: rgb(209, 91, 71); /* you could use a background image if you'd like as well */
	color: white;
	font-weight: bold;
	font-size: 0.80em;
	border-radius: 30px;
}

#accordionToggle span {
	font-size: 11px;
	font-family: Verdana;
	font-weight: bold;
}

#accordionToggle label {
	font-size: 9px;
	color: #428bca;
	font-family: Verdana;
}
